@import 'resetcss.css';

@font-face {
    font-family: 'Hack'; 
    src: url('../fonts/hack-regular.ttf') format('truetype');
}

body {
    height: 100vh;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;

    font-family: Hack, sans-serif;
    font-size: 1em;
    color: rgb(230, 230, 230);
    background: rgb(20, 20, 20);
}

a {
    color: rgb(200, 200, 200);
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(160, 160, 160);
}

a:active {
    color: rgb(255, 64, 0);
}

header {
    width: 90%;
    max-width: 100%;
    margin: auto;
    border-bottom: 5px solid rgba(40,40,40,0.3);
    border-radius: 0 0 1em 1em;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5em 1em;

    background-color: rgba(17,17,17);
    color:lightslategrey;
}

.header-link{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: inherit;
}

.header-logo {
    height: 32px;  
    display: block; 
    width: auto; 
    object-fit: contain;
}

header h1{
    margin: 0;
    font-size: 1.2em;
}
main {
    width: 90%;
    max-width: 100%;
    margin: auto;
    padding-bottom: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 1em;
    right: 1em;
    max-width: 100%;

    border-top: 3px solid rgba(40,40,40,0.3);
    text-align: center;
    border-radius: 0.8em 0.8em 0 0;
    padding: 0.3em 1em;
    
    background-color: rgb(25,25,25);
    color: darkgrey;

    font-size: 0.8em;
}
